## funtion

In [1]:
import pandas as pd
import datetime as dt
import configparser
import logging
import os
def append_byexcel(asserts_excelpath,want_asserts_excelpath,datahistory):
    now=dt.datetime.now()
    formatted_now=now.strftime("%Y_%m_%d_%H%M%S")
    init_asserts=pd.read_excel(r'{}'.format(asserts_excelpath))
    want_asserts=pd.read_excel(r'{}'.format(want_asserts_excelpath))
    append_asserts=pd.concat([init_asserts,want_asserts]).reset_index(drop=True)
    append_asserts.to_excel(r'{}'.format(asserts_excelpath),index=False)
    append_asserts.to_excel(r'{}\asserts_{}.xlsx'.format(datahistory,formatted_now),index=False)
    return append_asserts
def delete_bymonth(Y,M,asserts_excelpath,datahistory):
    now=dt.datetime.now()
    formatted_now=now.strftime("%Y_%m_%d_%H%M%S")
    init_asserts=pd.read_excel(r'{}'.format(asserts_excelpath))
    mask=init_asserts['time']!=dt.datetime(Y, M, 1)
    keep_asserts=init_asserts[mask]
    keep_asserts['TWD']=keep_asserts['TWD_exchange']*keep_asserts['QTY']
    keep_asserts['THB']=keep_asserts['THB_exchange']*keep_asserts['QTY']
    keep_asserts.to_excel(r'{}'.format(asserts_excelpath),index=False)
    keep_asserts.to_excel(r'{}\asserts_{}.xlsx'.format(datahistory,formatted_now),index=False)
    return keep_asserts
def main():
    thislvPATH=os.getcwd()
    conf = configparser.ConfigParser()
    conf.read(r'{}\config.ini'.format(thislvPATH))
    asserts_excelpath  = r'{}\data\assets.xlsx'.format(lastlvPATH)
    want_asserts_excelpath  = r'{}\input\assets_input.xlsx'.format(lastlvPATH)
    datahistory  = r'{}\data\history'.format(lastlvPATH)

## 配置

In [2]:
thislvPATH=os.getcwd()
lastlvPATH=os.path.abspath(os.path.join(os.getcwd(), os.path.pardir))
conf = configparser.ConfigParser()
conf.read(r'{}\config.ini'.format(thislvPATH))
#asserts_excelpath  = conf.get("filepath","asserts")
#want_asserts_excelpath  = conf.get("filepath","want_asserts")
#datahistory  = conf.get("filepath","datahistory")
asserts_excelpath  = r'{}\data\assets.xlsx'.format(lastlvPATH)
want_asserts_excelpath  = r'{}\input\assets_input.xlsx'.format(lastlvPATH)
datahistory  = r'{}\data\history'.format(lastlvPATH)

## excel新增資料

In [4]:
append_byexcel(asserts_excelpath,want_asserts_excelpath,datahistory).head()

        time type      accont     QTY  TWD_exchange  THB_exchange     TWD  THB
0 2018-10-01  舊資料  舊資料總資產(NT)  118248           1.0           NaN  118248  NaN
1 2018-11-01  舊資料  舊資料總資產(NT)   54449           1.0           NaN   54449  NaN
2 2018-12-01  舊資料  舊資料總資產(NT)   99218           1.0           NaN   99218  NaN
3 2019-01-01  舊資料  舊資料總資產(NT)  138560           1.0           NaN  138560  NaN
4 2019-02-01  舊資料  舊資料總資產(NT)  148193           1.0           NaN  148193  NaN

## 刪除資料BY月份
* 更新月份資料時先刪除原先月份資料

In [3]:
now=dt.datetime.now()
today=dt.datetime.now()
Y=int(now.strftime('%Y'))
M=int(now.strftime('%m'))
Ystr=input('欲刪除年:')
Mstr=input('欲刪除月:')
Y=int(Ystr)
M=int(Mstr)
delete_bymonth(Y,M,asserts_excelpath,datahistory)

欲刪除年:2021
欲刪除月:6

<ipython-input-1-8ce0f9a99385>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  keep_asserts['TWD']=keep_asserts['TWD_exchange']*keep_asserts['QTY']
<ipython-input-1-8ce0f9a99385>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  keep_asserts['THB']=keep_asserts['THB_exchange']*keep_asserts['QTY']

,time,type,accont,QTY,TWD_exchange,THB_exchange,TWD,THB
0,2018-10-01,舊資料,舊資料總資產(NT),118248,1.00,NaN,118248.0,NaN
1,2018-11-01,舊資料,舊資料總資產(NT),54449,1.00,NaN,54449.0,NaN
2,2018-12-01,舊資料,舊資料總資產(NT),99218,1.00,NaN,99218.0,NaN
3,2019-01-01,舊資料,舊資料總資產(NT),138560,1.00,NaN,138560.0,NaN
4,2019-02-01,舊資料,舊資料總資產(NT),148193,1.00,NaN,148193.0,NaN
...,...,...,...,...,...,...,...,...
98,2021-05-01,定存,中國信託定存(NT),402071,1.00,NaN,402071.0,NaN
99,2021-05-01,活存,richart(NT),82334,1.00,NaN,82334.0,NaN
100,2021-05-01,活存,Line pay money,3000,1.00,NaN,3000.0,NaN
101,2021-05-01,活存,泰銖現金(NT),2600,0.95,NaN,2470.0,NaN
102,2021-05-01,證券戶,新光證券(NT),36491,1.00,NaN,36491.0,NaN