In [1]:
import pandas as pd
import datetime as dt
from Date_compute import MMonthago,YMonthago 

def MMonthago(M,D):
    Mlist=list(range(D))
    Mlist[0]=M
    for i in range(D-1):
        if M==1:
            M=12
            Mlist[i+1]=M
        else:
            M=M-1
            Mlist[i+1]=M
    return Mlist
def YMonthago(Y,M,D):
    Ylist=list(range(D))
    Mlist=list(range(D))
    Mlist[0]=M
    Ylist[0]=Y
    for i in range(D-1):
        if M==1:
            M=12
            Y=Y-1
            Mlist[i+1]=M
            Ylist[i+1]=Y
        else:
            M=M-1
            Y=Y
            Ylist[i+1]=Y
            Mlist[i+1]=M
    return Ylist
def getdata():
    dfgl=pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')
    dfgl_date=dfgl['date'].str.split('-',5, True)
    dfgl['Y']=dfgl_date[0]
    dfgl['M']=dfgl_date[1]
    dfgl['D']=dfgl_date[2]
    return dfgl
def rowdataclean(dfgl):
    countrymapping=pd.read_excel(r'contry_mapping.xlsx')
    countrymapping=countrymapping.rename(columns={'English_name':'location'})
    dfgl1=pd.merge(dfgl,countrymapping,how='left')
    dfgl1.to_excel('.\myrawdata.xlsx',index=False)
    return dfgl1
def rawdata2month(rawdata,thisyear,thismonth):
    Ylist=YMonthago(thisyear,thismonth,3)
    Mlist=MMonthago(thismonth,3)
    mask1=rawdata['Y']==Ylist[0]
    mask2=rawdata['Y']==Ylist[1]
    mask3=rawdata['M']==Mlist[0]
    mask4=rawdata['M']==Mlist[1]
    rawdata2month=rawdata[(mask1&mask3)|(mask2&mask4)]
    return rawdata2month
def updaterawdatathis2month():
    now=dt.datetime.now()
    today=now.strftime('%Y_%m_%d')
    Y=int(now.strftime('%Y'))
    M=int(now.strftime('%m'))
    rawdata=pd.read_excel(r'myrawdata.xlsx')
    rawdata2monthdf=rawdata2month(rawdata,Y,M)
    rawdata2monthdf.to_excel(r'myrawdata2month.xlsx',index=False)
def fiternewcase(date_chinese_country):
    try:
        path=os.getcwd()
        x = date_chinese_country.split(",")
        date=x[1]
        chinese_country=x[2]
        print(chinese_country)
        myrawdata2month=pd.read_excel(r'myrawdata2month.xlsx')
        #date='2021-08-18'
        #chinese_country='泰國'
        maskdata=myrawdata2month['date']==date
        maskcountry=myrawdata2month['Chinese_name']==chinese_country
        filterdata=myrawdata2month[(maskdata&maskcountry)]
        newcaseary=filterdata['new_cases'].values
        return (chinese_country+date + ' : '+str(newcaseary[0])+'人確診')
    except :
        return '找不到確診數,可能是資料還未更新或格式打錯嘍~!查詢確診數的輸入範例:新增確診,2021-08-18,泰國'
def fiternewcaseEN(date_country):
    try:
        path=os.getcwd()
        x = date_country.split(",")
        date=x[1]
        country=x[2]
        print(country)
        myrawdata2month=pd.read_excel(r'myrawdata2month.xlsx')
        #date='2021-08-18'
        #chinese_country='泰國'
        maskdata=myrawdata2month['date']==date
        maskcountry=myrawdata2month['location']==country
        filterdata=myrawdata2month[(maskdata&maskcountry)]
        newcaseary=filterdata['new_cases'].values
        return (country+' '+date + ' : '+str(newcaseary[0])+' confirmed case')
    except :
        return 'I can not find confirmed case,maybe key wrong~!search newcases input example:newcases,2021-08-18,Thailand'

In [2]:
dfgl=getdata()

In [3]:
covidInfoDf=pd.DataFrame(columns=['location','date'])
covidInfoDf['location']=dfgl['location']
covidInfoDf['date']=dfgl['date']
covidInfoDf['total_cases']=dfgl['total_cases']
covidInfoDf['new_cases']=dfgl['new_cases']
covidInfoDf['total_deaths']=dfgl['total_deaths']
covidInfoDf['new_deaths']=dfgl['new_deaths']
covidInfoDf['total_vaccinations']=dfgl['total_vaccinations']
covidInfoDf['people_vaccinated']=dfgl['people_vaccinated']
covidInfoDf['people_fully_vaccinated']=dfgl['people_fully_vaccinated']
covidInfoDf['new_vaccinations']=dfgl['new_vaccinations']
covidInfoDf['total_vaccinations_per_hundred']=dfgl['total_vaccinations_per_hundred']
covidInfoDf['people_vaccinated_per_hundred']=dfgl['people_vaccinated_per_hundred']
covidInfoDf['new_vaccinations']=dfgl['new_vaccinations']
covidInfoDf

,location,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred
0,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
111304,Zimbabwe,2021-08-18,121498.0,452.0,4181.0,25.0,3542340.0,2193046.0,1349294.0,91381.0,23.83,14.76
111305,Zimbabwe,2021-08-19,121902.0,404.0,4198.0,17.0,3620937.0,2233265.0,1387672.0,78597.0,24.36,15.03
111306,Zimbabwe,2021-08-20,121902.0,0.0,4198.0,0.0,3699508.0,2271429.0,1428079.0,78571.0,24.89,15.28
111307,Zimbabwe,2021-08-21,122487.0,585.0,4236.0,38.0,3753242.0,2301341.0,1451901.0,53734.0,25.25,15.48
111308,Zimbabwe,2021-08-22,122652.0,165.0,4249.0,13.0,3773199.0,2312117.0,1461082.0,19957.0,25.39,15.56

In [13]:
today=dt.date.today()
oneday = dt.timedelta(days=1)
wantday=today-oneday

wantdaylist=[]
masklist=[]
for i in range(7):
    today=dt.date.today()
    deltaday = dt.timedelta(days=i)
    wantday=today-deltaday
    wantdaylist.append(wantday.strftime("%Y-%m-%d"))
    masklist.append(covidInfoDf['date']==wantday.strftime("%Y-%m-%d"))#篩選條件
covidInfo7dayDf=covidInfoDf[(masklist[0]|masklist[1]|masklist[2]|masklist[3]|masklist[4]|masklist[5]|masklist[6])]
covidInfo7dayDf['date']=pd.to_datetime(covidInfo7dayDf['date'],format="%Y-%m-%d")
covidInfo7dayDf

<ipython-input-13-45f83fe468e9>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covidInfo7dayDf['date']=pd.to_datetime(covidInfo7dayDf['date'],format="%Y-%m-%d")

,location,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred
541,Afghanistan,2021-08-18,152363.0,120.0,7043.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
542,Afghanistan,2021-08-19,152411.0,48.0,7047.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
543,Afghanistan,2021-08-20,152448.0,37.0,7054.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
544,Afghanistan,2021-08-21,152448.0,0.0,7054.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
545,Afghanistan,2021-08-22,152448.0,0.0,7054.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
111304,Zimbabwe,2021-08-18,121498.0,452.0,4181.0,25.0,3542340.0,2193046.0,1349294.0,91381.0,23.83,14.76
111305,Zimbabwe,2021-08-19,121902.0,404.0,4198.0,17.0,3620937.0,2233265.0,1387672.0,78597.0,24.36,15.03
111306,Zimbabwe,2021-08-20,121902.0,0.0,4198.0,0.0,3699508.0,2271429.0,1428079.0,78571.0,24.89,15.28
111307,Zimbabwe,2021-08-21,122487.0,585.0,4236.0,38.0,3753242.0,2301341.0,1451901.0,53734.0,25.25,15.48
111308,Zimbabwe,2021-08-22,122652.0,165.0,4249.0,13.0,3773199.0,2312117.0,1461082.0,19957.0,25.39,15.56

In [17]:
str(total_cases_templates)+'\n'+
str(new_deaths_templates)+'\n'+
str(total_deaths_templates)+'\n'+
str(total_vaccinations_templates)+'\n'+
str(people_vaccinated_templates)+'\n'+
str(people_fully_vaccinated_templates)+'\n'+
str(new_vaccinations_templates)+'\n'+
str(people_vaccinated_per_hundred_templates)+'\n'+

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,Y,M,D
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,2020,02,24
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,2020,02,25
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,2020,02,26
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,2020,02,27
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,2020,02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111304,ZWE,Africa,Zimbabwe,2021-08-18,121498.0,452.0,506.286,4181.0,25.0,27.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,2021,08,18
111305,ZWE,Africa,Zimbabwe,2021-08-19,121902.0,404.0,449.714,4198.0,17.0,21.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,2021,08,19
111306,ZWE,Africa,Zimbabwe,2021-08-20,121902.0,0.0,342.000,4198.0,0.0,17.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,2021,08,20
111307,ZWE,Africa,Zimbabwe,2021-08-21,122487.0,585.0,376.286,4236.0,38.0,20.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,2021,08,21
111308,ZWE,Africa,Zimbabwe,2021-08-22,122652.0,165.0,366.286,4249.0,13.0,20.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,2021,08,22

In [3]:
dfgl=getdata()
rowdataclean(dfgl)
updaterawdatathis2month()

In [10]:
updaterawdatathis2month()

In [16]:
fiternewcase('新增確診數,2021-08-18,泰國')

20515.0

In [18]:
event='新增確診數,2021-08-18,泰國'
if event.find('新增確診')==-1:
    print('no')
else:
    print('go')

go